.color-picker-page {
  .color-div {
    @include flex-column;
    justify-content: center;

    .color-input {
      display: flex;
      align-items: center;
      margin-bottom: 1em;

      input {
        width: 100%;
        height: 24px;
        background-color: transparent;
        border-bottom: solid 1px $main-color;
        border-radius: 0px;
      }
    }
  }

  .color-square {
    width: 40px;
    height: 30px;
    margin-right: 0.5em;
    border-radius: 5px;
    border: solid 1px $grey;
  }

  input[type='text'] {
    border: none;
    outline: none;
    padding: 5px;
  }

  input[type='text']:focus {
    border-color: #007bff;
  }

  .picked-colors {
    margin-top: 2em;
    margin-bottom: 4em;
    @include flex-column;
    align-items: center;
  }
}

.picker {
  width: 40px;
  height: 24px;
  cursor: pointer;

  &:hover,
  &:active {
    color: $hover;
  }
}

#image-color-pick-canvas {
  border-radius: 10px;
}

.submit-area {
  @include flex-row;
  gap: 1em;
}

.cursor-crosshair {
  cursor: crosshair;
}

.bchfeH {
  justify-content: center;
}

@media screen and (min-width: $desktop-breakpoint) {
  .color-picker-section {
    @include flex-column;
    align-items: center;
    padding: 0vw 10vw;
    width: 100%;
    h3 {
      margin-top: 0 !important;
    }

    .color-picker-page {
      @include flex-row;
      gap: 3em;

      .color-square {
        width: 60px;
        height: 35px;
      }

      .picked-colors {
        align-items: flex-start;
      }

      p {
        width: 90%;
        // font-weight: 400;
        margin-bottom: 2em;
      }

      h3 {
        margin-top: 2em;
      }
    }

    .color-div {
      .color-input {
        align-items: flex-end;
        margin-bottom: 2em;
        width: 60%;

        input {
          margin-right: 2em;
        }
      }

      input[type='placeholder'] {
        color: rgb(45, 43, 43);
      }
    }

    .bchfeH {
      width: 60%;
    }
  }

  #image-color-pick-canvas {
    border-radius: 5%;
    height: 431px;
    width: 575px;
    overflow: hidden;
  }
}
