.detail-section {
  background-image: url(../../../../public/gardien.jpg);
  background-size: cover;
  padding: 4em;
  h3 {
    color: $main-color;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .detail-section {
    .palette {
      margin-left: -20vw;
    }
  }
}
