.landing-page {
  margin-top: 20vh;


  .landing-page-greeting {
    @include flex-column;
    height: 80vh;

    .sub {
      font-size: 0.8rem;
      font-weight: bold;
    }

  }
}

h4 {
  font-size: 12px;
}

h3 {
  margin-bottom: 0.5em;
}

.heading {
  margin-bottom: 3em;
}
.arrow-right{
  height: 24px;
}

//about section
#about {
  min-height: 70vh;

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 2em;
    text-align: center;
  }

  .emoji {
    font-size: 30px;
  }
}

.icon {
  width: 16px;
  color: $main-color
}


.bullet-points {
  @include flex-column;
  gap: 2em;

  .points {
    @include flex-row;
    text-align: center;
  }
}

//contact section

#contact {
  a {
    text-decoration: none;
    cursor: pointer;
    color: $text-color;

    &:hover,
    &:active {
      color: $hover;
    }

    :visited {

      color: $text-color;
    }
  }

  height: 100vh;

  .contact-text {
    margin-bottom: 2em;
  }

  .contact-point {
    @include flex-row;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  .contact-form {
    margin-top: 2em;

    input[type=submit] {
      width: 50%;
      float: right;
    }
  }

  input[type=submit] {
    background-image: url(../../arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
  }

}

.landing-text {
  position: absolute;
  height: 50vh;
  width: 80%;
  text-align: center;
  @include flex-column;
  justify-content: space-between;
  align-items: center;
  .btn{
    border-radius: 20px;
  }
}

#animated-gradient {
  height: 100vh;
}

.gradient-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.g1 {
  position: absolute;
  background-color: $hover;
  filter: blur(80px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  top: calc(50%);
  left: calc(50%);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;

}

.g2 {
  position: absolute;
  background-color: $sec-color;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: $circle-size;
  height: 400px;
  top: calc(50% - $circle-size / 2);
  left: calc(50% - $circle-size / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 15s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: $sec-color;
  filter: blur(60px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  top: calc(50% - $circle-size / 2);
  left: calc(50% - $circle-size / 2);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 20s linear infinite;

  opacity: 1;
}

.g4 {
  position: absolute;
  background: $yellow;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  top: calc(-50%);
  left: calc(-50%);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 20s ease infinite;


  opacity: 1;
}

.g5 {
  position: absolute;
  background: #865aff64;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveHorizontal 50s ease infinite;


  opacity: 1;
}
.g6 {
  position: absolute;
  background: $yellow;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  top: calc(50%);
  left: calc(50% );
  transform-origin: calc(50% + 200px);
  animation: moveHorizontal 20s ease infinite;


  opacity: 1;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba($sec-color, 0.8) 0, rgba($sec-color, 0) 50%) no-repeat;
  mix-blend-mode: $blending;

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}