h3 {
  margin-bottom: 0.5em;
}

.heading {
  margin-bottom: 3em;
}
.arrow-right {
  height: 24px;
}

.icon {
  width: 16px;
  color: $main-color;
}
.landing-page {
  position: relative;

  .landing-page-greeting {
    @include flex-column;
    height: 100vh;
    position: relative;

    .sub {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
.landing-text {
  position: absolute;
  height: 70%;
  width: 100%;
  text-align: center;
  z-index: 100;

  @include flex-column;
  justify-content: center;
  align-items: center;
  padding-left: 0vw;
  padding-top: 20vh;

  .btn {
    border-radius: 20px;
  }
  .btn-main :hover {
    background-color: $hover;
  }
}

#animated-gradient {
  height: 100vh;
}
.login-nav {
  @include flex-row;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
  gap: 1em;
  padding-right: 2em;
  position: fixed;
  z-index: 100;
  width: 100%;

  .btn-main {
    border-radius: 10px;
    cursor: pointer;
  }
  .btn-second {
    border-radius: 10px;
    cursor: pointer;
    @include transition;
  }
}

.gradient-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.g1 {
  position: absolute;
  background-color: $hover;
  filter: blur(80px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  top: calc(-50%);
  left: calc(-50%);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.g2 {
  position: absolute;
  background-color: $sec-color;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: $circle-size;
  height: 400px;
  top: 0;
  right: 0;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 15s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: $sec-color;
  filter: blur(60px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  bottom: 0;
  left: 0;
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 20s linear infinite;

  opacity: 1;
}

.g4 {
  position: absolute;
  background: $yellow;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  top: -50%;
  left: 0;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 20s ease infinite;
  opacity: 1;
}

.g5 {
  position: absolute;
  background: $sec-color;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveHorizontal 50s ease infinite;
  opacity: 1;
}
.g6 {
  position: absolute;
  background: $yellow;
  filter: blur(50px);
  mix-blend-mode: $blending;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  top: calc(50%);
  left: calc(50%);
  transform-origin: calc(50% + 200px);
  animation: moveHorizontal 20s ease infinite;
  opacity: 1;
}

.interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba($sec-color, 0.8) 0,
      rgba($sec-color, 0) 50%
    )
    no-repeat;
  mix-blend-mode: $blending;

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}

/*
.wave-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px; 
}

.wave-div svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; 
}
.wave {
  position: absolute;
  width: 50vw;
  padding: 0;
  margin: 0;
}
.wave-img {
  height: 10%;
}*/
.wave {
  bottom: 0;
  margin-top: 30vh;
}
.side-nav-xl {
  visibility: hidden;
}
.side-navigation {
  visibility: visible;
}
@media screen and (min-width: $desktop-breakpoint) {
  .side-nav-xl {
    visibility: visible;
  }
  .side-navigation {
    visibility: hidden;
  }
  .landing-page {
    height: 100vh;
  }
  .landing-page-greeting {
    height: 100vh !important;
    .sub {
      font-size: 14px !important;
      margin-top: -20px;
      margin-left: 5px;
    }
  }
  //gradient beginning
  .gradient-container {
    filter: url(#goo) blur(40px);
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }

    50% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-50%);
    }
  }

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }

    50% {
      transform: translateX(50%) translateY(10%);
    }

    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  .gradient-bg {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .g1 {
    filter: blur(100px);
    border-radius: 100%;
    width: 600px;
    height: 500px;
    top: calc(-50%);
    left: calc(-50%);

    transform-origin: center center;
  }

  .g2 {
    filter: blur(150px);
    border-radius: 100%;
    width: 700px;
    height: 700px;
    top: 0;
    right: 0;

    transform-origin: calc(50% - 400px);
  }

  .g3 {
    filter: blur(200px);
    width: 600px;
    height: 700px;
    bottom: 0;
    left: 0;

    transform-origin: calc(50% + 400px);
  }

  .g4 {
    filter: blur(300px);
    border-radius: 100%;
    width: 600px;
    height: 600px;
    top: -50%;
    left: 0;
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 10s ease infinite;
  }

  .g5 {
    filter: blur(50px);
    border-radius: 100%;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    transform-origin: calc(50% - 800px) calc(50% + 200px);
  }
  .g6 {
    background: $yellow;
    filter: blur(300px);
    width: 400px;
    height: 700px;
    top: calc(50%);
    left: calc(50%);
    transform-origin: calc(50% + 200px);
    opacity: 1;
  }
  //gradient end
  .landing-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4em;
    padding-top: 35vh;
    position: absolute;
    height: 60vh;
    width: 80%;
    text-align: center;
    z-index: 100;
    @include flex-column;
    padding-left: 15vw;
    .btn {
      max-width: 100%;
      border-radius: 50px;
    }
    .btn-main {
      width: 100%;
      height: 48px;
      width: 300px;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      &:hover {
        background-color: $hover;
      }
    }
  }
  .heading {
    margin-bottom: 6em;
    h1 {
      font-size: 70px;
    }
    img {
      width: 50px;
      height: 50px;
    }
    text-align: start;
  }
}
