.multi-step {
  background-image: url(../../../../public/gardien.jpg);
  background-size: cover;
  min-height: 100vh;
  .choose-option {
    @include flex-row;
    gap: 1em;
  }

  h3 {
    margin-bottom: 0.5em;
    color: $main-color;
    text-transform: uppercase;
    margin-top: 2em;
  }

  .btn-img {
    margin-bottom: 4em;
  }

  .btn-main,
  .btn-second,
  .prev-btn {
    width: 50%;
  }

  .bottom-nav {
    @include flex-row;
    gap: 1em;
    justify-content: flex-end;
  }

  .links {
    @include flex-column;
    margin: 5em 0em;
    gap: 1em;

    .link-icon {
      width: 24px;
      height: 20px;
    }

    .btn {
      @include flex-row;
      justify-content: center;
      align-items: center;
    }

    .btn-main {
      width: 80%;
    }

    .btn-second {
      width: 50%;
    }
  }
}

.uploadImage {
  label {
    font-size: 14px;
    text-transform: none;
  }
  @include flex-row;
  justify-content: flex-end;
}
.img-input{
  position: relative;
  .img-resize{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    position: absolute;
    object-fit: cover;
  }
  img{
    border: none;
  }
}
@media screen and (min-width: $desktop-breakpoint) {
 .upload-section{
  @include flex-column;
  justify-content: center;
  align-items: center;
  width: 100%;
 }
 .multi-step{
    h3{
      margin-top: 4em;
      margin-bottom: 2em;
    }
    .bottom-nav{
      @include flex-row;
      justify-content: space-between;
      width: 100%;
      padding: 0vw 15vw;
    }
 }
 .btn-img {
  width: 100%;
}
.uploadImage{
  .cloud{
    width: 24px;
    height: 24px;
  }
  label{
    font-size: 16px;
  }
}
 
}