//about section
#about {
  .about-text {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
  }
  h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 64px;
    text-align: center;
    font-family: 'Spartan-Bold';
  }
  .emoji {
    font-size: 30px;
  }
  .about-content {
    z-index: 100;
  }
  .bullet-points {
    @include flex-column;
    gap: 4em;
    align-items: center;

    .points {
      @include flex-row;
      text-align: center;
      max-width: 650px;
      gap: 4em;
      z-index: 10;
    }
    h4 {
      font-size: $text-l;
      font-family: 'Spartan-Bold';
    }
    p {
      font-size: $text-m;
      font-family: 'Spartan-Regular';
      padding-top: 10px;
    }
  }
  .blurgradien {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.overflow {
  overflow: hidden;
}
@media screen and (max-width: $desktop-breakpoint) {
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    .about-text {
      height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      bottom: 0;
    }
    h2 {
      font-size: 18px;
      padding: 0em 2em;
    }
    .emoji {
      font-size: 26px;
    }
    .about-content {
      z-index: 100;
    }
    .bullet-points {
      @include flex-column;
      gap: 2em;
      .point {
        @include flex-column;
        align-items: center;
      }
      .points {
        @include flex-column;
        gap: 2em;
      }
      h4 {
        font-size: $text-m;
      }
      p {
        font-size: $text-s;
        width: 70vw;
        text-align: center;
      }
    }
    .blurgradien {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      overflow: hidden;
    }
  }
}
