.image-crop {
    position: fixed;
    z-index: 100;

    .crop-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 160px;

        .imageCard {
            text-align: center;
        }

        .imageCard img {
            width: 600px;
        }
    }

    .backdrop {
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .controls {
        z-index: 110;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 160px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 1rem;

        .controls-upper-area {
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .button-area {
            display: flex;
            gap: 20px;
            justify-content: center;
            text-align: center;
        }

        .slider {
            z-index: 110;
            width: 50%;
            height: fit-content;
        }

        button {
            margin-left: 10px;
            margin-right: 10px;
            background-color: black;
            color: white;
            border: 1px solid yellow;
            font-size: 20px;
        }
    }
}