.loading-animation {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex-column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin: auto;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    .loading-svg{
        width: 30%;
        height: 30%;
        margin-top: -100px;
    }
    span{
        margin-top: -50px;
    }
  }
  
