.loading-animation {
  position: fixed;
  height: 100%;
  width: 100%;
  @include flex-column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: auto;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  overflow: hidden;
  .loading-svg {
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .loading-animation {
    .loading-svg {
      width: 100px;
      height: 100px;
    }
  }
}
