.nav-form {
  margin-top: 2em;
  display: flex;
  align-items: center;
  overflow-x: hidden !important;
  position: relative;
  .hr {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: $grey;
  }
  .h-active {
    width: 50%;
    height: 3px;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background: linear-gradient(to right, #4511b2, rgba(255, 255, 255, 0));
  }

  .states {
    @include flex-row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .state-circle {
      background-color: $grey;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      position: relative;
      z-index: 20;
    }
    .active {
      background-color: $main-color;
      width: 24px;
      height: 24px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and (min-width: $desktop-breakpoint) {
 .nav-form{
  margin: 0vw 10vw;
  align-items: center;
  .hr {
    height: 4px;
  }
  .h-active {
    height: 4px;
  }
  .states {
    .state-circle {
      width: 18px;
      height: 18px;
    }
    .active {
      width: 40px;
      height: 40px;
    }
  }
 }
 .check{
  height: 18px;
  width: 15px;
 }
 
}