.palette {
  @include flex-row;
  margin: 2em 0em;
}

.palette-color {
  width: 50px;
  height: 60px;
  border-radius: 5px;
  box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.421);
  transition: transform 0.3s ease;
  margin-right: -4px;
  cursor: pointer;

  &:active {
    transform: scale(1.2);
  }
}

//slider
.slider {
  @include flex-row;
  position: relative;
  height: 80vh;
  margin-top: 2em;
}

.card {
  height: 320px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
}

//swiper

.swiper {
  width: 240px;
  height: 320px;
  margin-top: 1em;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 16px;
  font-weight: normal;
  padding: 2em;
  color: #fff;
  box-shadow: 4px 0px 10px #1502291f;
}
.ex-heading {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 16px;
  }
}
.showmore {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  padding: 1em 2em;
}
.explanation {
  h2 {
    font-size: 14px;
  }
  p {
    width: 100%;
    font-family: Spartan-Regular;
    font-size: 14px;
  }
}

.palette-heading {
  text-align: center;

  h2 {
    text-transform: uppercase;
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .back {
    @include flex-row;
    justify-content: space-between;
    width: 52%;
    align-items: center;

    a {
      color: $main-color;
      @include transition;
      &:hover {
        color: $hover;
      }
    }
    p {
      @include flex-row;
      gap: 1em;
      justify-content: center;
      align-items: center;
    }
  }
}

.links {
  @include flex-column;
  gap: 1em;
  margin: 3em 0em !important;
  .btn-second {
    width: 50%;
  }

  .btn-main {
    width: 70%;
  }
}
.swiper-form {
  .inputs {
    @include flex-column;
    gap: 1em;
    margin-bottom: 1em;
  }
  input {
    width: 100%;
    background-color: none;
    border: none;
    border-radius: 10px;
    padding-left: 1em;
    height: 40px;
    font-family: Spartan-Regular;
    box-shadow: inset 0 0 5px rgba(31, 0, 66, 0.227);
  }
  .btn-main {
    width: 100% !important;
  }
  @include flex-column;
  gap: 1em;
}
@media screen and (min-width: $desktop-breakpoint) {
  .palette-section {
    @include flex-column;
    align-items: center;
  }
  .color-palette-div {
    .links {
      @include flex-row;
      justify-content: center;
    }
    .btn {
      max-width: 100%;
      align-self: flex-end;
    }
    .btn-main {
      padding: 10px 0px;
      max-width: 300px;
    }
    .btn-second {
      max-width: 200px;
    }
  }
  .palettes {
    @include flex-row;
    margin-bottom: 4em;
    margin-left: 10em;
    .palette {
      transform: rotate(90deg);
      margin: 14em 0em;
      height: 0px;
    }
  }
  .swiper {
    width: 340px;
    height: 420px;
    margin-top: 2em;
  }
  .palette-color {
    &:hover {
      transform: scale(1.2);
    }
  }
  .explanation {
    p {
      max-width: 800px;
    }
  }
  .swiper-form {
    .inputs {
      @include flex-row;
      gap: 1em;
      margin-bottom: 1em;
    }
  }
}
