.sidenav {
  @include flex-column;
  justify-content: space-between;
  padding: 2em 0em 2em 2em;
  height: 100vh;
  z-index: 1000;
  position: fixed;
}

.side-links {
  visibility: hidden;
  margin-top: -65px;
  margin-left: -1em;
  width: 200px;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition:
    height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.4s ease-in-out;

  a {
    color: $text-color;
    position: relative;
    text-decoration: none;
    transition:
      color 0.3s ease,
      transform 0.4s ease,
      opacity 0.4s ease;

    &:hover {
      color: $hover;
    }
  }

  &.open {
    visibility: visible;
    @include flex-column;
    justify-content: center;
    align-items: center;
    .bookmark,
    .plus,
    .info {
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .bookmark {
      transform: rotate(60deg) translateY(60px) translateX(-20px) rotate(-60deg);
      transition-delay: 0s;
    }

    .plus {
      transform: rotate(20deg) translateX(30px) translateY(55px) rotate(-20deg);
      transition-delay: 0.1s;
    }

    .info {
      transform: rotate(-20deg) translateY(60px) translateX(-85px) rotate(20deg);
      transition-delay: 0.2s;
    }

    a {
      transition:
        transform 0.5s ease,
        opacity 0.5s ease;
    }
  }

  &.closed {
    visibility: hidden;
    height: 0;

    .bookmark,
    .plus,
    .info {
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .bookmark {
      transform: rotate(0deg) translateY(60px) translateX(-100px) rotate(60deg);
      transition-delay: 0s;
    }

    .plus {
      transform: rotate(0deg) translateX(-150px) translateY(0) rotate(0);
      transition-delay: 0.1s;
    }

    .info {
      transform: rotate(0deg) translateX(-150px) translateY(150px) rotate(0);
      transition-delay: 0.2s;
    }
  }
}

.menu {
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 1111;
}

.copyright-icon {
  a {
    font-size: 24px;
    color: $text-color;

    &:hover {
      color: $hover;
      @include transition;
    }
  }
}
.nav-desktop {
  button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: $hover;
      @include transition;
    }
  }
}
