.circular-navigation {
  z-index: 1112;

  width: 100px;
  height: 50px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    .gVNztz {
      background: transparent !important;
    }
  }
  > * > button {
    border: none;
  }

  > * > button:hover,
  > * > button:active,
  > * > button:focus {
    background-color: white !important;
    border: none;
  }

  > * > button > div {
    background-color: $text-color !important;
  }

  ul > li button {
    border: none !important;
  }

  ul > li button:hover > div,
  ul > li button:active > div,
  ul > li button:focus > div {
    background: transparent !important;
  }
}

.side-navigation {
  display: flex;
  position: fixed;
  bottom: 1%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1111;
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      &:active {
        color: $hover !important;
      }
    }
  }
  .nav-wrap {
    height: 150px;
    width: 300px;
    @include flex-column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1111;
    overflow: hidden;
  }
  .link {
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    height: 40px;
    width: 40px;
    background-color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: $text-color;
    }
  }
}
.ljFZHp {
  .sc-gLLuof {
    &:nth-child(1) {
      transform: translate(0, 0.5em) rotateZ(-45deg) !important;
      width: 2em !important;
    }

    &:nth-child(3) {
      transform: translate(0, -0.5em) rotateZ(45deg) !important;
      width: 2em !important;
    }
  }
}
.gVNztz {
  &:hover,
  &:focus,
  &:active {
    color: $hover;
    background: #fff;
  }
}
