//variables.scss

//colors
$main-color: #4511b2;
$text-color: #171717;
$hover: #865aff;
$sec-color: #beadfa;
$light-purp: #dfccfb;
$error: #dc0606;
$darkred: #901b18;
$grey: #999;
$yellow: #fff8c9;

//mixins
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

//spacings (numbers are not fix for now)
$p-sm: 1em;
$p-m: 2em;
$p-l: 3em;

// text sizes
$base-size: 16px;

$h1-size: 3rem;
$h2-size: 2rem;
$h3-size: 1.75rem;
$h4-size: 1.5rem;
$h5-size: 1.25rem;
$h6-size: 1.125rem;

$h1-l: 4rem;
$h2-l: 2rem;
$h3-l: 1.8rem;
$h4-l: 2.5rem;
$h5-l: 2.25rem;
$h6-l: 2.125rem;

$mobile-breakpoint: 768px;
$desktop-breakpoint: 1024px;