
//buttons
.btn-special{
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    color: $main-color;
    border: none;
    box-shadow: -3px 4px 5px rgba(52, 52, 52, 0.453);
    @include flex-row;
    align-items: center;
    gap: 2em;
    padding-left: 1em;
    cursor: pointer;
    .circle-icon{
      @include flex-row;
      margin: 0;
      border-radius: 40px;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
    }
    .circle{
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 40px;
      background-color: $main-color;
      filter: blur(10px);
      position: relative;
    }
    .arrow-right{
      color: white;
      width: 16px;
      text-align: center;
      position: absolute;
    }
    &:hover, &:active{
        background-color: $main-color;
        color: white;
    }
  }
  
  .btn-main{
    padding: 10px 50px;
    background-color: $main-color;
    color: white;
    border: none;
    &:hover{
      background-color: $hover;
      border: none;
    }
    &:active{
      background-color: $hover;
      border: none;
    }
  }
  .btn-second{
    padding: 8px 30px;
    background-color: transparent;
    color: $main-color;
    border: solid 2px $main-color;
    @include flex-row;
    align-items: center;
    gap: 2em;
    
    &:hover, &:active{
      background-color: $main-color;
      color: white;
    }
  }
  
  .btn-img{
    background-color: rgba(255, 255, 255, 0.5);
    color: $main-color;
    text-align: center;
    @include flex-column;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
    border: solid 2px $main-color;
    &:hover, &:active{
      background-color: $main-color;
      color: white;
    }
  }
  .btn-long{
    background-color: $main-color;
    color: white;
    padding: 8px 100px;
    border: none;
    width: 270px;
    &:hover, &:active{
        background-color: $hover;
    }
  }
  .prev-btn{
    background-color: $sec-color;
    padding: 10px 50px;
    color: white;
    border: none;
    &:hover, &:active{
        background-color: $main-color;
    }
  }
  .btn{
    cursor: pointer;
    border-radius: 10px;
    @include transition;
  }
  .delete-btn{
    padding: 10px 50px;
    background-color: $error;
    color: white;
    border: solid 1px $darkred;
    &:hover, &:active{
      background-color: $darkred;
      border: none;
    }
  }
  $circle-size: 100%;
  $blending: hard-light;

  #animated-gradient{
    height: 100vh;
  }

  .gradient-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  .gradient-bg{
    width: 100vw;
    height: 80vh;
    position: relative;
  } 
  .g1{
    position: absolute;
    background-color: $hover;
    filter: blur(80px);
    mix-blend-mode: $blending;
border-radius: 100%;
    width: 400px;
    height: 400px;
    top: calc(50%);
    left: calc(50%);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;

  }

  .g2 {
    position: absolute;
    background-color: $sec-color;
    filter: blur(50px);
    mix-blend-mode: $blending;
    border-radius: 100%;
    width: $circle-size;
    height: 400px;
    top: calc(50% - $circle-size / 2);
    left: calc(50% - $circle-size / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 15s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: $sec-color;
    filter: blur(60px);
    mix-blend-mode: $blending;
    border-radius: 100%;
    width:300px;
    height: 300px;
    top: calc(50% - $circle-size / 2 );
    left: calc(50% - $circle-size / 2 );

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 20s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: $yellow;
    filter: blur(50px);
    mix-blend-mode: $blending;
    border-radius: 100%;
    width:300px;
    height: 300px;
    top: calc(50% - $circle-size / 2 );
    left: calc(50% - $circle-size / 2 );
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;


    opacity: 1;
  }
  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba($sec-color, 0.8) 0, rgba($sec-color, 0) 50%) no-repeat;
    mix-blend-mode: $blending;

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }