* {
  font-family: 'Spartan', sans-serif;
}
h1 {
  font-family: 'InterVariable', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Spartan', sans-serif;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: Spartan;
  font-style: normal;
  font-display: swap;
  src: url('font/Spartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('InterVariable.woff2') format('woff2');
}
