* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

body {
  @include flex-column;
  font-size: 14px;
  color: $text-color;
  margin: 0;
}

main {
  padding: 2em;
}

.icon {
  width: 16px;
  text-align: center;
}

h1 {
  font-size: $h1-size;
  font-weight: 800;
}

.loading-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
