* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  letter-spacing: .5px;
  line-height: 1.2;
}

body {
  @include flex-column;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: $h1-size;
}