* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  letter-spacing: .5px;
  line-height: 1.2;
}

body {
  @include flex-column;
  padding: 2rem;
  font-size: 14px;
  color: $text-color;
}

.icon {
  width: 16px;
  text-align: center;
}

h1 {
  font-size: $h1-size;
}